{% extends './base.html' %}
{% load static %}

{% block title %}EnviroAlerts | Alert management {% endblock %}

{% block map_features %} 
  <!-- jQuery UI -->
  <link
    rel="stylesheet"
    href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css"
  />
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>

  <!-- Leaflet CSS (CDN) -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script>
    const ICONS = {
      earthquake_icon: "{% static 'alerts/images/earthquake.png' %}",
      fire_icon: "{% static 'alerts/images/fire.png' %}",
      flood_icon: "{% static 'alerts/images/flood.png' %}",
      storm_icon: "{% static 'alerts/images/storm.png' %}",
      tornado_icon: "{% static 'alerts/images/tornado.png' %}",
    };
  </script>
{% endblock %}

{% block content %}
  <!-- Map Section -->
  <div class="map-container">
    <h2 class="section-title">Interactive Map</h2>
    <div id="map" style="height: 600px"></div>
  </div>
  
  <!-- Location Fields -->
  <button type="button" id="current-location-btn">Use My Current Location</button>    

  <!-- Alert Forms-->
  <div id="alert-form">
    <h3>Add Alert</h3>
    <form id="alertForm">

      <textarea
        id="alertDescription"
        placeholder="Brief description (What is happening, etc.)"
        required>
      </textarea><br /><br />

      <!-- Hazard Type Dropdown -->
      <label for="hazardType">Hazard Type:</label>
      <select id="hazardType">
        <option value="earthquake">Earthquake</option>
        <option value="flood">Flood</option>
        <option value="tornado">Tornado</option>
        <option value="fire">Fire</option>
        <option value="storm">Storm</option>
      </select><br /><br />

      <!-- Source URL Field -->
      <label for="sourceUrl">Source URL:</label>
      <input
        type="url"
        id="sourceUrl"
        placeholder="http://example.com"
      /><br /><br />

      <!-- Add a radius input in this form -->
      <!--  -->
      <label for="effectRadius">Radius of effect:</label>
      <input
        type="number"
        id="effectRadius"
        placeholder="e.g: 2"
      /><br /><br />

      <!-- Hidden Fields for Lat/Lng -->
      <input type="hidden" id="alertLat" />
      <input type="hidden" id="alertLng" />

      <!-- Submit and Cancel Buttons -->
      <button type="submit">Submit</button>
      <button type="button" onclick="hideForm()">Cancel</button>
    </form>
  </div>

  <!-- Search Bar -->
  <div class="search-container">
    <h2 class="section-title">Search Alerts</h2>
    <input
      type="text"
      id="search-input"
      placeholder="Search by location, hazard type, etc."
    />
  </div>
      
  <!-- Alerts List -->
  <div class="alerts-container">
    <h2 class="section-title">Alerts List</h2>
    <div id="alertsList">
      {% for alert in page_obj %}
        <div class="alert-item"
            data-Lat="{{ alert.location.y }}",
            data-Lng="{{ alert.location.x }}">
          <strong>{{ alert.hazard_type }}</strong>
          <p>{{ alert.description }}</p>
          <p>Location: {{ alert.city|default:alert.county|default:alert.country|default:"Unknown" }}</p>
          <p>Reported by: {{ alert.reported_by|default:"Unknown" }}</p>
          <p>
            <a href="{{ alert.source_url }}" target="_blank">More Info</a>
          </p>
          <p><em>Created on: {{ alert.created_at }}</em></p>
        </div>
      {% endfor %}
    </div>

    <!-- Pagination Controls -->
    <div class="pagination">
      <button id="first-page">First</button>
      <button id="prev-page">Previous</button>
      <span id="current-page" data-total-pages="{{ page_obj.paginator.num_pages }}">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>
      <button id="next-page">Next</button>
      <button id="last-page">Last</button>
    </div>
  </div> 

  <!-- Leaflet JS -->
  <script src="{% static 'alerts/js/alerts.js' %}"></script>
{% endblock %}
