{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- jQuery UI -->
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css"
    />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>

    <!-- Leaflet CSS (CDN) -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <link rel="stylesheet" href="{% static 'alerts/css/style.css' %}" />

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <script>
      const ICONS = {
        earthquake_icon: "{% static 'alerts/images/earthquake.png' %}",
        fire_icon: "{% static 'alerts/images/fire.png' %}",
        flood_icon: "{% static 'alerts/images/flood.png' %}",
        storm_icon: "{% static 'alerts/images/storm.png' %}",
        tornado_icon: "{% static 'alerts/images/tornado.png' %}",
      };
    </script>

    <title>Alerts</title>
  </head>
</html>
