{% extends 'base.html' %} 
{% load static %} 
{% block title %}EnviroAlerts | profile {% endblock %} 

{% block map_features %}
<link rel="stylesheet" href="{% static 'users/css/style.css' %}" />
{% endblock %} 

{% block content %}

  <!-- User Profile -->
  <h2>User Profile</h2>
  <div class="profile-container">
    <div class="profile-info">
      <h3>username: {{ user.username }}</h3>
      <p>Email: {{ user.email }}</p>
      <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
      <p>Date Joined: {{ user.date_joined }}</p>
      <p>User BIO: {{ user.bio }}</p>
      <p>Alerts Created: {{ user.alerts_created}}</p>
      <p>Alerts Verfied: {{ user.alerts_verified}}</p>
    </div>

    <!-- Edit button -->
    <button type="button" onclick="showProfileForm()" id="profile-button">
      Edit Profile
    </button>
  </div>

  <!-- Profile form -->
  <div id="profile-form">
    <h2>Edit Profile</h2>

    <form method ="post">{% csrf_token %}
      {{ update_information.as_p }}
      <button type="submit" name="update_information">Update Information</button><br/><br/>
    </form>
    
    <form method ="post">{% csrf_token %}
      {{ update_email.as_p }}
      <button type="submit" name="update_email">Update Email</button><br/><br/>
    </form>

    <form method ="post">{% csrf_token %}
      {{ update_password.as_p }}
      <button type="submit" name="update_password">Update Password</button><br/><br/>
    </form>

    <button type="button" onclick="hideProfileForm()">Cancel</button>
    
  </div>

  <script src="{% static 'users/js/user_profile.js' %}"></script>
{% endblock%}
